{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <link rel="shortcut icon" href="#">
</head>
<body>
    <div style="background-image:url('static/images/ecommercebackground.jpg'); height:auto;" class="col-lg-12 col-12">
        <nav class="navbar navbar-expand-lg " style="background: rgb(25, 25, 145);">
            <p class="navbar-brand" style="height:25px; font-weight:bolder;color:white">E-commerce</p>
            <button class="navbar-toggler" style="color:blue;background:white;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <ul class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" style="color:white" id="log">Log In</button>
              </ul>
            </div>
        </nav>
        <div class="col-lg-4 col-10 mx-auto" style="margin-top:30px; border-width:thick; border-radius:30px; height:800px; background:rgb(203, 147, 255); color:white;">
            <form>
                {% csrf_token %}
                <div class="col-lg-8 col-8 ml-auto" style="font-size:30px; font-weight:bolder; padding-top:10px">
                    <p>Sign Up</p>
                </div>
                <div style="margin-top: 50px;">
                    <div class="form-group col-lg-8 col-8 mx-auto">
                        <label id="warning"></label>
                    </div>
                    <div class="form-group col-lg-8 col-8 mx-auto">
                        <label for="first_name">First Name</label>
                        <input type="text" class="form-control" id="first_name" placeholder="First Name">
                    </div>
                    <div class="form-group col-lg-8 col-8 mx-auto">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" id="last_name" placeholder="Last Name">
                    </div>
                    <div class="form-group col-lg-8 col-8 mx-auto">
                        <label for="username">User Name</label>
                        <input type="text" class="form-control" id="username" placeholder="User Name">
                    </div>
                    <div class="form-group col-lg-8 col-8 mx-auto">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group col-lg-8 col-8 mx-auto">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Atleast 6 characters" autocomplete="on">
                    </div>
                    <div class="form-group col-lg-8 col-8 mx-auto">
                        <label for="confirm_password">Re-enter Password</label>
                        <input type="password" class="form-control" id="confirm_password" autocomplete="on">
                    </div>
                    <div class="mx-auto col-lg-2 col-6"style="margin-top:30px">
                        <button type="button" class="btn btn-primary" id="btn1">Submit</button>
                    </div>
                </div>
              </form>
        </div>
        <br>
        <br>
        <br>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
        $('#log').click(function(){
            window.location.replace('log_in')
        })
        $('#btn1').click(function(){
            var first_name = $('#first_name').val()
            var last_name = $('#last_name').val()
            var email = $('#email').val()
            var username = $('#username').val()
            var password1 = $('#password').val()
            var password2 = $('#confirm_password').val()
            var data = {
              'csrfmiddlewaretoken':'{{csrf_token}}',
              'first_name': first_name,
              'last_name': last_name,
              'email': email,
              'username': username,
              'password1': password1,
              'password2': password2
            }
            if(first_name == ''){
              var alert = "(!) Name Field Cannot be Empty (!)"
              $('#warning').text(alert) 
            }else if(last_name == ''){
              var alert = "(!) Name Field Cannot be Empty (!)"
              $('#warning').text(alert)
            }else if(email == ''){
              var alert = "(!) Email Field cannot be Empty (!)"
              $('#warning').text(alert)
            }else if(username == ''){
              var alert = "(!) Username Field cannot be Empty (!)"
              $('#warning').text(alert)
            }else if(password1 == ''){
              var alert = "(!) Password Field cannot be Empty (!)"
              $('#warning').text(alert)
            }else if(password2 == ''){
              var alert = "(!) Confirm Password Field cannot be Empty (!)"
              $('#warning').text(alert)
            }else{
              $.ajax({
                url:'signup',
                method:'POST',
                data:data,
                dataType: 'json',
                success:function(data){
                  if(data.success == 'True'){
                    window.location.replace('log_in')
                  }else if(data.success == 'user_error'){
                    var alert = "(!) User Name Already Exists(!)"
                    $('#warning').text(alert)
                  }else if(data.success == 'email_error'){
                    var alert = "(!) Email Already Exists (!)"
                    $('#warning').text(alert)
                  }else if(data.success == 'phone_error'){
                    var alert = "(!) Phone Number already exists (!)"
                    $('#warning').text(alert)
                  }else if(data.success == 'password_error'){
                    var alert = "(!) Password doesn't match (!)"
                    $('#warning').text(alert)
                  }
                }
              })
            }
        })
    })
</script>
</body>
</html>